<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.whereshouldigo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Bole" />
        <activity android:name=".Piassa" />
        <activity android:name=".Gerji" />
        <activity android:name=".Bole_michael" />
        <activity android:name=".Welosefer" />
        <activity android:name=".Hayahulet" />
        <activity android:name=".Romina" />
        <activity android:name=".Wow" />
        <activity android:name=".In_n_out" />
        <activity android:name=".Angla" />
        <activity android:name=".Cade"></activity>
    </application>

</manifest>